.layout {
  display: flex;
  font-family: Arial, sans-serif;
  padding: 20px;
  flex-direction: row;
  gap: 20px;
}



.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.viewer {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
/* Timeline bar */
.timeline-container {
  position: fixed;
  bottom: 20px;
  left: 250px;
  right: 20px;
  height: 30px;
  width: 80%;
  display: flex;
  border: 2px solid #ccc;
  
}

.timeline-cell {
  flex: 1;
  cursor: pointer;
}

/* Colors */
.green {
  background-color: #32cd32;
}
.white {
  background-color: #ffffff;
}
.red {
  background-color: #ff4444;
}

/* Label buttons */
.label-good {
  background: #32cd32;
  padding: 8px;
}

.label-unlabeled {
  background: #cccccc;
  padding: 8px;
}

.label-bad {
  background: #ff4444;
  padding: 8px;
}

.mode-buttons {
  display: flex;
  gap: 10px;
}

.mode-btn {
  padding: 8px;
  border: 1px solid #888;
  background: #ddd;
}

.active-green {
  background: #32cd32 !important;
}
.active-white {
  background: white !important;
}
.active-red {
  background: #ff4444 !important;
}
.clear-btn {
  margin-top: 20px;
  padding: 10px;
  background: #ff5555;
  color: white;
  border: none;
  cursor: pointer;
}


.viewer-multi {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1000px;
}

.camera-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}




